.page {
  margin-top: 180px;
  width: 1590px;
  height: 780px;
  background-color: #4b4546;
  display: block;
  color: orange;
  border: 2px solid orange;
}

.info{
  display: block;
  margin-left: 600px;
}

.photo {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 1010px;
  bottom: 730px;
  border-radius: 60px;
}

.nickname {
  margin-top: 90px;
  font-size: 25px;
  color: orange;
  background-color: #4b4546;
  border: none;
  text-align: center;
}


